body {
    background-color: #5DC3E7;// DodgerBlue;//SkyBlue;//DeepSkyBlue; // DarkTurquoise; //LightSkyBlue;
    background-image: url("dots_background.jpeg");
}

h2 {
    color: white;
    text-align: center;
    font-style: oblique;
    font-family: "Short Stacks"; //"Comic Sans MS"; //'Open Sans', sans-serif;
    font-weight: 200;
}

img {
    max-width:25%;
    max-height:25%;
    border-radius: 50%;
    align: center;
}
.dot {
  height: 20px;
  width: 20px;
  background-color: white;
  border-radius: 50%;
  position:fixed;
  left: 49%;
  display: inline-block;
}


.Input {
    color: white;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

h3 {
    color: white;
    font-family: "Short Stacks";
    font-style: oblique;
    text-align: center;
    font-weight: 100;
    font-size: 25px;
}
form{
    color: white;
    text-align: center;
}
input{
    width: 300px;
    margin: 25px;
}
button{
    color: LightSeaGreen;
    text: bold;
}
