<?xml version='1.0'?>

<model>
    <name>bookcase</name>
    <version>1.0</version>
    <sdf version='1.4'>model.sdf</sdf>

    <author>
        <name>Anastasiia Lazorenko</name>
        <email>lazorenko@ucu.edu.ua</email>
    </author>

    <description>
        A bookcase from 007.
    </description>
</model>