<?xml version='1.0'?>

<model>
    <name>lectorium_chair_light_grey</name>
    <version>1.0</version>
    <sdf version='1.4'>model.sdf</sdf>

    <author>
        <name>Anastasiia Lazorenko</name>
        <email>lazorenko@ucu.edu.ua</email>
    </author>

    <description>
        A nice, comfy light-grey chair!
    </description>
</model>