<?xml version="1.0"?>

<model>
  <name>qr_it-space_1</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Sophia Teslyuk</name>
    <email>teslyuk.s@ucu.edu.ua</email>
  </author>

  <description>
    Qr code image in it-space, closer to the entrance.
  </description>
</model>