<?xml version='1.0'?>

<model>
    <name>p13_borys_gudziak</name>
    <version>1.0</version>
    <sdf version='1.5'>model.sdf</sdf>

    <author>
        <name>Sophia Teslyuk</name>
        <email>teslyuk.s@ucu.edu.ua</email>
    </author>

    <description>
        Picture of Borys Gudziak
    </description>
</model>