<?xml version='1.0'?>

<model>
    <name>classroom_chair_grey_model</name>
    <version>1.0</version>
    <sdf version='1.4'>model.sdf</sdf>

    <author>
        <name>Anastasiia Lazorenko</name>
        <email>lazorenko@ucu.edu.ua</email>
    </author>

    <description>
        A model of chair from classrooms 007, 008, 009.
    </description>
</model>
