<?xml version='1.0'?>

<model>
    <name>board_simple_model</name>
    <version>1.0</version>
    <sdf version='1.4'>model.sdf</sdf>

    <author>
        <name>Anastasiia Lazorenko</name>
        <email>lazorenko@ucu.edu.ua</email>
    </author>

    <description>
        A simple model of classroom board, which consists of three subboards,
        and has two colored markers.
    </description>
</model>


    
