<?xml version='1.0'?>

<model>
    <name>fire_rescue_box</name>
    <version>1.0</version>
    <sdf version='1.5'>model.sdf</sdf>

    <author>
        <name>Anastasiia Lazorenko</name>
        <email>lazorenko@ucu.edu.ua</email>
    </author>

    <description>
        Fire! FIRE! Everybody for themselves!.
    </description>
</model>